@import 'tailwindcss';

@theme {
  --color-primary: #0ea47a;
  --breakpoint-lg: 65rem;
  --color-background: #0a0a0a;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background: #0a0a0a;
  color: #ededed;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
